# Dataset directories - DO NOT TRACK THESE
combined_dataset/
combined_dataset_grayscale/
rebalanced_dataset/
augmentation_dataset/

# Dataset cache and temporary files
*.cache
*.tmp
*.temp
.cache/
temp/
tmp/
*.mp4
synthetic_pest_feed_adaptive_v3.mp4

# No need to .ipynb folders of not developed or later ideas
develop_video.ipynb
testing.ipynb
